.example-container{
	width: 100%;
}

.btn-success{
	background-color:#f44336 ;
	border-color: #f44336;
}


.button-add{
	display: flex;
	justify-content: flex-end ;
}

button{
	margin: 5px;
}

.mda-form-msg{
	color:#f44336 ;
}